In [1]:
import pandas as pd
import os
import re

In [2]:
files = os.listdir("data")
files.remove('xlxs')
files

['Archaeological Sites.csv',
 'beach.csv',
 'collections.csv',
 'historical location.csv',
 'hotels.csv',
 'Monuments egypt2.csv',
 'museums_egypt.csv',
 'Sunken Monuments.csv',
 'Temple.csv',
 'Tomb.csv']

In [3]:
df_lists = []

In [4]:
for file in files:
    myfile = pd.read_csv(os.path.join("data",file) , encoding = "ISO-8859-1")
    df_lists.append(myfile)
full_df = pd.concat(df_lists , join = 'outer' , ignore_index = True)

In [21]:
#full_df["naming"] = full_df[['name' , "Name" , "ï»¿name"]][(full_df['Name'].isnull()) & (full_df["name"].isnull())]
full_df["name"] = full_df[['name' , "Name" , "ï»¿name"]].apply(lambda x : '.'.join(x.dropna().astype(str)) , axis = 1)

In [22]:
full_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 394 entries, 0 to 393
Data columns (total 31 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ï»¿name             259 non-null    object
 1   image               295 non-null    object
 2   information         394 non-null    object
 3   location            394 non-null    object
 4   visiting_dates      68 non-null     object
 5   tikets              26 non-null     object
 6   gallery             89 non-null     object
 7   name                394 non-null    object
 8   location_map        20 non-null     object
 9   link                21 non-null     object
 10  type                259 non-null    object
 11  tickets             133 non-null    object
 12  Name                80 non-null     object
 13  Gallery             88 non-null     object
 14  Rating              80 non-null     float64
 15  Salary              80 non-null     object
 16  link                80 non-null     object
 17  place               80 non-null     object
 18  Image_URL           91 non-null     object
 19  visiting_date       91 non-null     object
 20  instructions        16 non-null     object
 21  sketching           14 non-null     object
 22  last_tickets        13 non-null     object
 23  free_tickets        10 non-null     object
 24  photo_instructions  14 non-null     object
 25  photo_price         2 non-null      object
 26  emergency           16 non-null     object
 27  photo               8 non-null      object
 28  Unnamed: 5          0 non-null      float64
 29  Unnamed: 6          0 non-null      float64
 30  Unnamed: 7          0 non-null      float64
dtypes: float64(4), object(27)
memory usage: 95.5+ KB

In [155]:
full_df1 = full_df[['name' , 'information','location' ]]
full_df1.head()

,name,information,location
0,\n Abu Mina\n.\n Abu Mina\n,The archaeological site of Abu Mina features a...,\n Alexandria \n
1,\n Port Said city\n.\n Port Said city\n,The name âPort Saâidâ is a compound word...,\n Port Said \n
2,\n Mamluk Cemetery\n.\n Mamluk Cemetery\n,This burial ground lies to the northeast of Ca...,\n Cairo\n
3,\n Dahshur\n.\n Dahshur\n,Dahshur was the southern part of the cemetery ...,\n Giza\n
4,\n Tell-Basta\n.\n Tell-Basta\n,Tell Basta gets its name from the ancient Egyp...,\n Al-Sharkia\n

In [156]:
full_df1 = full_df1.replace("\n" , "" , regex = True)
full_df1 = full_df1.replace(r"\s\s+" , "" , regex = True)
full_df1['name'] = full_df1["name" ].str.strip()
full_df1['information'] = full_df1["information"].str.strip()
full_df1['location'] = full_df1["location"].str.strip()
full_df1["location"][0]

'Alexandria'

In [157]:
full_df1.head()

,name,information,location
0,Abu Mina. Abu Mina,The archaeological site of Abu Mina features a...,Alexandria
1,Port Said city. Port Said city,The name âPort Saâidâ is a compound word...,Port Said
2,Mamluk Cemetery. Mamluk Cemetery,This burial ground lies to the northeast of Ca...,Cairo
3,Dahshur. Dahshur,Dahshur was the southern part of the cemetery ...,Giza
4,Tell-Basta. Tell-Basta,Tell Basta gets its name from the ancient Egyp...,Al-Sharkia

In [10]:
full_df1[full_df1["name"] == "Dahshur"]

        name                                        information location
3    Dahshur  Dahshur was the southern part of the cemetery ...     Giza
176  Dahshur  Dahshur was the southern part of the cemetery ...     Giza

In [150]:
full_df1[full_df1.duplicated()]

Empty DataFrame
Columns: [name, information, location]
Index: []

In [151]:
full_df1 = full_df1.drop_duplicates(ignore_index = True)

In [152]:
full_df1[full_df1.duplicated()]

Empty DataFrame
Columns: [name, information, location]
Index: []

In [153]:
allnames = full_df1["name"].tolist()
full_df2  = full_df1
x = r"\"

SyntaxError: EOL while scanning string literal (<ipython-input-153-9b23f5749dc1>, line 3)

In [154]:
full_df2["name"] = full_df2["name"].str.replace(r'\..*' , "" , regex = True )
full_df2["name"].tolist()

['Abu Mina',
 'Port Said city',
 'Mamluk Cemetery',
 'Dahshur',
 'Tell-Basta',
 'El-Hawawish',
 'El-Sheikh Hamad (Athribis)',
 'Shali village in Siwa Oasis ',
 'Beni Hasan',
 'Heliopolis',
 'Abu Simbel',
 'Philae',
 'Karnak',
 'Valley of the Kings',
 'Deir al-Bahari',
 'Giza Plateau ',
 'Saqqara',
 "Al-Mu'izz Street",
 'Cairo Citadel',
 'Salah al-Din Square',
 'Al-Saliba Street',
 'Al-Suyufiyya Street',
 'Al-Fustat (Old Cairo)',
 'Aleandria',
 'Saint Catherineaa\x99s Monastery',
 'Ayn Shams City',
 'Albatros White Beach - By Pickalbatros',
 'Naama Bay',
 'Sharm El Luli',
 'El Fanar',
 'Fayrouz Resort',
 'Smokery Beach',
 'Hotelu Marina Beach Hurghada',
 'Nubian Beach',
 'Movenpick Resort Soma Bay',
 'Panorama Bungalows Resort El Gouna',
 'Giftun Azur Resort',
 '?El Qulan Mangrove Forest',
 'Beau Site Belle Vue Hotel',
 'Rohanou Beach Resort & Ecolodge',
 'The Three Corners Equino Beach Resort',
 'Concorde Moreen Beach Resort & Spa',
 'Brayka Bay Resort',
 'Deep Blue Inn',
 'Moses Coast Resort',
 "Shark's Bay Beach",
 'Solymar Soma Beach',
 'Oil bottle',
 'Helmet',
 'Painting',
 'First manual fire- engine',
 'Deception weapons',
 'Defensive weapons',
 'Dagger',
 'Model of a boat',
 'Ramadan cannon',
 'pot bottom',
 'Surgical scalpel',
 'Private Alay',
 "Holy Qura'n",
 'Illustrated manuscript',
 'The Book of Esther',
 'Pocket watch',
 'Jug and basin',
 'A bust of a young man',
 'Funerary stela',
 'The upper part of a royal statue',
 'Servant statue of man grinding grain',
 'Canopic Jars of Isetemkheb',
 'Offering Table of Thutmose III',
 'Statue of Meritamun (The aa\x9cWhite Queenaa\x9d)',
 'aa lamp ',
 'The celebration halls(Bayt Amna bint salim) ',
 'Haramlek(Bayt Amna bint salim)',
 'Damascene Hall( Bayt Amna bint salim)',
 'Muhammad Ali Hall( Bayt Amna bint salim)',
 'Queen Anne Hall( Bayt Amna bint salim)',
 'Necklace - Governor Mohammed Ali Pasha ',
 'Statue of the Dwarf Seneb and his Family ',
 'Statue of Mentuhotep',
 'Pitcher Belonging to Tabtaq',
 'The Mummy of Masaharti',
 'Canopic Jars',
 'A wooden model of a Funerary boat',
 'Statue and mummy of a cat ',
 'Ram Mummy',
 'Tonneau Carriage',
 'Iron Sufis hand-bag aa\x9cKashkoulaa\x9d',
 'Icon of Saint Antony and Saint Paul',
 "The Piper's Curtain ",
 'Decorated niche of Virgin Mary ',
 'Narmer Palette',
 'Khufu Statue',
 'Statue of Ka-aper',
 'Statue of an elephant',
 'Set of Queen Farida',
 'Psalter',
 'St',
 'Khafre Statue',
 'Masks of Yuya and Thuya',
 'Menkaura triads',
 'A collection of Medal',
 'Golden Cheaa Set',
 'Door of silver laminated wood ',
 'Household utensils',
 'Astrolabe, Compaaa, Celestial sphere',
 'Set of princeaa Shivakiar',
 'Golden set of collection Malak Toaaon',
 'Luurious Desk Set',
 'Qibla finder of wood ',
 'Collection of Watches ',
 'Osiris Statuette',
 'Statue of Nephthys',
 'Kohl Container',
 'Ewer made of copper',
 'Incense Burner',
 'SarcophagusÂ\xa0of Kawit',
 'Amenhotep III and Tiye Coloaaal Statue',
 'Djed Column',
 'Icon of the Holy Familyaa\x99s flight into Egypt',
 'Lintel depicting Jesus Christaa\x99s entry into Jerusalem',
 'Three monumental keys of Monasteries',
 'Clock tower',
 'The mihrab and minbar of the Prince Muhammad Ali aa',
 'The throne hall ceiling',
 'A lamp in the name of Sultan Haaaan',
 'Bracelets of King Rameaaes II',
 'Belt of Prince Ptah-Shepses',
 'Lustreware',
 'Ivory comb',
 'The Journey of the Holy Family to Egypt',
 'Two Door Shutters',
 'Rameaaes II and Sekhmet',
 'Head of Hatshepsut',
 'A stele depicting a physician or pharmacist ',
 'A votive altar ',
 'Head of Thutmose I',
 'Metal lantern ',
 'Stirrups',
 'Porcelain statue',
 'A set of seals',
 'Footmanaa\x99s livery worn',
 'A Statue of a Ptolemaic queen ',
 'Column with Hathor Capital',
 'Wife of Nakhtmin',
 'Pair Statue of Tjay and Naya\t',
 'Ramses II as standard-bearer',
 'Caravan',
 'Oil patinting ',
 'Mummy of a Man',
 'Bronze Mirror',
 'Marble Bust of Arsinoe III',
 'Palette in the form of an Antelope',
 'Stela of Iretweru with Osiris in a naos',
 'Icon of Saint George',
 'Granite statue of King Thutmose III',
 'Senndjem Sarcophagus',
 'Coffin of King Ramses II',
 'Canopic jars of a man called Ipi',
 'The Library(Bayt Amna bint salim)',
 'Gold Dinar Coin',
 'Chinese Hall (Bayt Amna bint salim)',
 'Nejim Ankh coffin',
 'Haramlek (Winter Hall-Bayt al-Kritliyya)',
 'Winged Isis Statue',
 'Al-Sabeel Hall(Bayt al-Kritliyya)',
 'Indian Hall(Bayt al-Kritliyya)',
 'Khedivial Cairo',
 'Historical Cairo',
 'Thebes',
 'Aleandria',
 'Amarna',
 'The Netherworld',
 'Abu Mina',
 'Port Said city',
 'Mamluk Cemetery',
 'Dahshur',
 'Tell-Basta',
 'El-Hawawish',
 'El-Sheikh Hamad (Athribis)',
 'Shali village in Siwa Oasis',
 'Beni Hasan',
 'Heliopolis',
 'Abu Simbel',
 'Philae',
 'Karnak',
 'Valley of the Kings',
 'Deir al-Bahari',
 'Giza Plateau',
 'Saqqara',
 "Al-Mu'izz Street",
 'Cairo Citadel',
 'Salah al-Din Square',
 'Al-Saliba Street',
 'Al-Suyufiyya Street',
 'Al-Fustat (Old Cairo)',
 'Aleandria',
 'Saint Catherine?s Monastery',
 'Ayn Shams City',
 'Four Seasons Resort Sharm El Sheikh',
 'Aida Hotel Sharm El Sheikh',
 'Coral Sea Aqua Club Resort',
 'Old Vic Sharm Resort',
 'Badawia Sharm Resort',
 'Domina Coral Bay Elisir Suites ',
 'Fun & Sun Smart Seti Sharm',
 'Marina Sharm Hotel',
 'Falcon Hills Hotel',
 'TOLIP Golden Plaza Hotel',
 'Kempinski Nile Hotel',
 'Al Masa Hotel',
 'Triumph Luury Hotel',
 'Ramses Hilton Hotel',
 'Baron Hotel',
 'The Guard hotel',
 'Victory Of Downtown Hotel',
 'Jewel Green Mountain Hotel',
 'Valencia Hotel, Downtown Cairo',
 'Tolip Aswan Hotel',
 'Pyramisa Island Hotel Aswan',
 'Hapi Hotel',
 'The Mango Guest House',
 'Benben by Dhara Hotels - Adults Only',
 'Cityma Hotel Aswan',
 'Obelisk Nile Hotel Aswan',
 'Opal privat nubian hotel',
 'Cityma aqua park Hotel Aswan',
 'Philae Hotel',
 'Panorama Port Said Hotel',
 'Grand Hotel Port Said',
 'Jewel El Gameel Hotel',
 'Palma Hotel',
 'Resta Port Said Hotel',
 'Jewel Port Said Hotel',
 'De La Poste',
 'Aracan portsaid',
 'Port Said Hotel Misr Travel',
 'Lamar Azur Hotel',
 'Adriatica Hotel',
 'Jazz Almaza Bay',
 'Beau Site Hotel',
 'Negresco Hotel ',
 'Bader Hotel',
 'El Obeid Hotel for the Armed Forces, Marsa Matrouh',
 'Jewel Matrouh Hotel',
 'Porto Matrouh Aqua Park',
 'Long Island, Marsa Matrouh',
 'Carols Beau Rivage Hotel',
 'Tolip Aleandria HotelOpens ',
 'Sunrise Ale Avenue Hotel',
 'Jewel San Stefano Hotel',
 'Regency Hotel Aleandria',
 'Royal Crown Hotel',
 'Kaoud Sporting Hotel',
 'Semiramis Hotel Aleandria',
 'Aleander The Great Hotel',
 'Windsor Palace Hotel Aleandria',
 'Eastern Montazah Hotel',
 'Sky View Suites Hotel',
 'Canary Hotel',
 'Gravity Hotel & Aqua Park Hurghada ',
 'TUI MAGIC LIFE Kalawy',
 'Eiffel Hotel Hurghada',
 'A1 Tiba Rose',
 'Diana Hotel Hurghada',
 'Magic Beach Hotel Hurghada',
 'Elaria Hotel Hurgada',
 "Captain's Inn Hotel",
 'Sonesta St',
 'Iberotel Luor',
 'Philip Luor Hotel',
 'Nefertiti Hotel',
 'Karnak Luor Hotel',
 'Amon Hotel',
 'Steigenberger Nile Palace Luor Hotel & Convention Center',
 'Jadis Hotel',
 'Royal House Hotel',
 'Manager Hotel',
 'The Palm Resort Hotel',
 'Muhammad Ali Pasha Palace',
 'Suez Canal Authority Building "Dome Building"',
 'Madrasa, Mausaleum, and Bimaristan of al-Mansur Qalawun',
 'aa, Khanqa, and Madrasa of Sultan Farag ibn Barquq in the Mamluk Cemetery',
 'Madrasa of Sultan al-Ghuri',
 'Dome, Khanqa, and Seat of Sultan al-Ghuri',
 'Al-Ghuriaa\x99s wikala',
 'aa and Madrasa of al-Nasir Muhammad Ibn Qalawun',
 'Mamluk Cemetery',
 'The comple of Sultan Qayitbay in the Mamluk Cemetery',
 'Sabil-Kuttab of Nafisa al-Baydaaa\x99',
 'Samiha Kamil Palace',
 'Prince Taz Palace',
 'The Bent Pyramid',
 'Statue of Queen Meritamun',
 'Palace of King Amenemhat III',
 'Sabil of Muhammad Ali in al-aa\x98Aqadin',
 'aa-Sabil of Sulayman Agha al-Silahdar',
 "Sultan al-Mu'ayyad aa",
 'Aswan Cemetery',
 'Imam al-Shafiaa\x99i aa',
 'The Red Monastery',
 'Baron Empain Palace',
 'Bab Zuwayla',
 'Bayt Al-Suhaymi ("House of Suhaymi")',
 'Al-Aqmar aa',
 'aa of alaa\x91Hakim biaa\x91Amr Allah',
 'Bab alaa\x91Futuh',
 'Bab al-Nasr',
 'Sultan al-Nasir Muhammad aa',
 'aa and Madrasa of Sultan Hasan',
 'Ali Labib House',
 'Ibn Tulun aa',
 'Sabil-Kuttab Um aa\x98Abbas',
 "The Takeyya Mawlawiyya Madrasa-Mausoleum of Amir Sunqur al-Sa'di",
 'Church of Saint Sergius and Bacchus',
 'Ben aa\x98Ezra Synagogue',
 'The aa of aa\x98Amr ibn al-aa\x98As',
 'Rawda Island Nilometer',
 'Monastery of the Syrians',
 'The Church of the Burning Bush',
 'The Library of Saint Catherineaa\x99s Monastery',
 'The Fatimid aa',
 'Bagawat Cemetery',
 'aa, Madrasa, and Khanqa of Sultan Barquq',
 'Madrasa and Khanaqah of Sultan al-Zahir Barquq',
 'Sabil-Kuttab of Abd al-Rahman Katkhuda',
 'Madrasa and Mausoleum of al-Saleh Najm al-Din Ayyub',
 'National Police Museum',
 'Cairo International Airport Museum - Terminal 2',
 'The Egyptian Museum',
 'Museum of Islamic Art',
 'The Coptic Museum',
 'National Museum of Egyptian Civilization(NMEC)',
 'Egyptaa\x99s Capitals Museum ( ECM )',
 'Cairo International Airport Museum - Terminal 3',
 'Sharm al-Sheikh Museum',
 'The Royal Carriages Museum',
 'Kafr El-Sheikh Museum',
 'Gayer Anderson Museum',
 'Manial Palace Museum',
 'Royal Jewelry Museum',
 'Mummification Museum',
 'Hurghada Museum',
 'Wadi Al - Jarf Port',
 'Qaitbay Fort',
 'Shatby',
 'Mamoura Bay',
 'Saadana Island',
 'Eastern Harbor',
 'Abu Qir Bay',
 'Aswan',
 'Rock Inscriptions of Sehel Island',
 'Edfu Temple',
 'The Temple of Bastet',
 'The Roman well',
 'Open Air Museum',
 'Luor Temple',
 'Hatshepsut Temple',
 'Temple of Dendera',
 'Pyramid Comple of Khafre (Khefren)',
 'The Great Sphin',
 'Pyramid Comple of Menkaure (Mykerinos)',
 'Pyramid Comple of Teti',
 'Pyramid of Unas',
 'Tomb of the Two Brothers Niankhaa\x91Khnum and Khnumhotep',
 'New Kingdom Cemetery',
 'Memphite Tomb of Horemheb',
 'Muhammad Ali aa',
 'Isis Temple',
 'Qubbat (dome) Affandina',
 'Tomb of Amenemhat',
 'The Tomb of Khnumhotep II',
 'The Tomb of Baqet III',
 'The Tomb of Khety',
 'The Southern Tomb Â',
 'The Tomb of Shepsipumin / Kheni (H24)',
 'The Tomb of Hesi-Min (M 22)',
 'The Tomb of Hem Min (M43)',
 'The Tomb of Ka Hep / Theti-Iker (H26)',
 'The Tomb of Nehwet Desher/Meri (G95)',
 'Tomb of Tutankhamun',
 'Tomb of Sety I (KV17)',
 'Tomb of Rameaaes VI (KV9)',
 'Church of the Holy Virgin (Gabal al-Tayr)',
 'The Great Pyramid',
 'Tomb of Khufukhaf I',
 'Workeraas\x99 Town and Cemetery',
 'Eastern and Western Cemeteries',
 'Tomb of Queen Meresankh III',
 'The Step Pyramid Comple of Djoser',
 'Serapeum',
 'Tomb of Meraa',
 'Al-Rifaaa\x99i aa',
 'ShatbyNecropolis']

In [105]:
print("\x")

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 0-1: truncated \xXX escape (<ipython-input-105-8b34608b7d36>, line 1)

In [146]:
print(r""+"asdasd.Al-Rifass\x99i ss".replace(r"..*" , "sss" ))
re.findall(r'\..*', r'asdas.Al-Rifass\x99i ss')

asdasd.Al-Rifassi ss

['.Al-Rifass\\x99i ss']